<div class="card card-body">
  <h2><%= @contract.title %></h2>
  <ul>
    <% @contract.documents.each do |document| %>
      <li>
        <%= link_to document.title, url_for(document.file) %>
      </li>
    <% end %>
  </ul>
  <%= button_to "Destroy Contract",
    contract_path(@contract),
    method: :delete,
    class: "btn btn-danger",
    disabled: !policy(@contract).destroy?,
    form: { data: { turbo_confirm: "Are you sure?" } } %>
</div>
